# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Env
.env

# Vector cache
data/cache/

# Runtime data
data/player_history.json

# Build artifacts
src/*.egg-info/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
